<div id="chatbot-icon-bank">

    <svg viewBox="0 0 32 32" id="chatbot-svg_bot">
        <path class="chatbot-stroke_logo" d="M26.5,5.5H8.5a5,5,0,0,0-5,5v11a6.29,6.29,0,0,1-3,5h3a3,3,0,0,0,1.87-.66,1.78,1.78,0,0,1,2.26,0,3,3,0,0,0,1.87.66h17a5,5,0,0,0,5-5v-11A5,5,0,0,0,26.5,5.5Z"></path>
        <path class="chatbot-stroke_logo" d="M11.5,10.5h11a1,1,0,0,1,1,1v9a0,0,0,0,1,0,0h-13a0,0,0,0,1,0,0v-9A1,1,0,0,1,11.5,10.5Z"></path>
        <polyline class="chatbot-stroke_logo" points="10.5 16.5 8.5 16.5 8.5 20.5 10.5 20.5"></polyline>
        <line class="chatbot-stroke_logo" x1="13.5" y1="17.5" x2="20.5" y2="17.5"></line>
        <polyline class="chatbot-stroke_logo" points="23.5 20.5 25.5 20.5 25.5 16.5 23.5 16.5"></polyline>
        <line class="chatbot-stroke_logo" x1="14.5" y1="15.5" x2="14.5" y2="13.5"></line>
        <line class="chatbot-stroke_logo" x1="19.5" y1="15.5" x2="19.5" y2="13.5"></line>
    </svg>

    <svg viewBox="0 0 20 20"  id="chatbot-svg_bot_small">
       <path class="chatbot-stroke_logo" d="M16.5,3H5.5a3,3,0,0,0-3,3v7.5A3.91,3.91,0,0,1,.5,17h1a3,3,0,0,0,1.86-.66,1.76,1.76,0,0,1,2.24,0A3,3,0,0,0,7.51,17h9a3,3,0,0,0,3-3V6A3,3,0,0,0,16.5,3Z"></path>
       <path class="chatbot-stroke_logo" d="M7.5,6h7a1,1,0,0,1,1,1v6a0,0,0,0,1,0,0h-9a0,0,0,0,1,0,0V7A1,1,0,0,1,7.5,6Z"></path>
       <polyline class="chatbot-stroke_logo" points="15.5 13 16.5 13 16.5 10 15.5 10"></polyline>
       <polyline class="chatbot-stroke_logo" points="6.5 10 5.5 10 5.5 13 6.5 13"></polyline>
       <line class="chatbot-stroke_logo" x1="9.5" y1="11" x2="12.5" y2="11"></line>
       <line class="chatbot-stroke_logo" x1="9.5" y1="9" x2="9.5" y2="8"></line>
       <line class="chatbot-stroke_logo" x1="12.5" y1="9" x2="12.5" y2="8"></line>
   </svg>

    <svg viewBox="0 0 20 20"  id="chatbot-svg_user">
        <circle class="chatbot-stroke_logo" cx="10" cy="4" r="3.5"></circle>
        <path class="chatbot-stroke_logo" d="M15.5,16.2a5.5,5.5,0,1,0-11,0v3.3h11Z"></path>
    </svg>

    <svg viewBox="0 0 16 16" id="chatbot-svg_close">
        <line class="chatbot-stroke_close" x1="0.5" y1="0.5" x2="15.5" y2="15.5"></line>
        <line class="chatbot-stroke_close" x1="15.5" y1="0.5" x2="0.5" y2="15.5"></line>
    </svg>

    <svg viewBox="0 0 16 16" id="chatbot-svg_back">
        <polyline class="chatbot-stroke_close" points="12.5 15.5 3.5 8 12.5 0.5"></polyline>
    </svg>

    <svg viewBox="0 0 18 20" id="chatbot-svg_paperplane">
        <polygon class="chatbot-stroke_logo"points="12.5 19.5 5.5 12.5 17.5 0.5 12.5 19.5"></polygon>
        <polyline class="chatbot-stroke_logo" points="5.5 12.5 0.5 7.5 17.5 0.5"></polyline>
        <polyline class="chatbot-stroke_logo" points="8.5 15.5 5.5 17.5 5.5 12.5"></polyline>
    </svg>

</div>
