@chatbot-margin: 20px;
@chatbot-border-radius: 30px;
@chatbot-textarea-border-size: 1px;
@chatbot-textarea-line-height: 18px;
@chatbot-send-button-size: 24px;
@chatbot-form-margin: 16px;

@chatbot-header-height: 80px;
@chatbot-body-height: 600px;

@chatbot-footer-height:
  @chatbot-form-margin * 2
  + @chatbot-textarea-line-height * 3
  + @chatbot-textarea-border-size * 2;

@chatbot-width: 320px;
@chatbot-height:  @chatbot-header-height + @chatbot-body-height + @chatbot-footer-height;
@chatbot-floating-button-height: 54px;

@chatbot-active-color: #01a3c0;
@chatbot-disabled-color: #8f8f8f;

@chatbot-bg-color: #fff;
@chatbot-header-bg-color: #ed642a;
@chatbot-time-color: #bbbdbf;
@chatbot-user-message-color: #fff;
@chatbot-user-message-bg-color: #00a2bf;
@chatbot-bot-message-bg-color: #f2f2f2;
@chatbot-textarea-border-color: #babcbe;

@chatbot-font-family: "Source Sans Pro";
@chatbot-header-font-size: 24px;

#ng-ovh-chatbot {
  font-family: @chatbot-font-family;

  .chatbot-main {
    position: fixed;
    height: @chatbot-height;
    width: @chatbot-width;
    right: @chatbot-margin;
    bottom: @chatbot-margin * 2 + @chatbot-floating-button-height;
    overflow: hidden;
    background-color: @chatbot-bg-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: @chatbot-border-radius;

    z-index: 9999;

    .chatbot-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: @chatbot-header-height;
      background-color: @chatbot-header-bg-color;
      border-radius: @chatbot-border-radius @chatbot-border-radius 0 0;

      h6 {
        color: #fff;
        position: relative;
        margin: 0;
        font-size: @chatbot-header-font-size;
      }
    }

    .chatbot-body {
      overflow-x: hidden;
      overflow-y: auto;
      padding: 17px 17px 0 17px;
      height: ~'calc(100% - @{chatbot-header-height} - @{chatbot-footer-height})';

      .chatbot-message {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 35px;

        .chatbot-avatar {
          position: absolute;
          top: -18px;
          left: -43px;
          float: left;
          flex-shrink: 0;
          width: 32px;
          height: 34px;
          margin-right: 10px;
        }

        .chatbot-time {
          color: @chatbot-time-color;
          font-size: 14px;
          position: absolute;
          top: -20px;
        }

        .chatbot-text {
          display: inline-block;
          position: relative;
          padding: 12px 14px;
        }
      }

      .chatbot-message-user {
        .chatbot-time {
          right: 0;
        }

        .chatbot-text {
          background-color: @chatbot-user-message-bg-color;
          border-radius: 12px 12px 0 12px;
          color: @chatbot-user-message-color;
          margin-left: auto;
        }
      }

      .chatbot-message-bot {
        margin-left: 43px;

        .chatbot-text {
          background-color: @chatbot-bot-message-bg-color;
          border-radius: 0 12px 12px 12px;
        }
      }
    }

    .chatbot-footer {
      position: absolute;
      bottom: 0;
      width: @chatbot-width;
      background-color: @chatbot-bg-color;

      form {
        position: relative;
        margin: @chatbot-form-margin;

        textarea {
          display: block;
          border-radius: 25px;
          border: @chatbot-textarea-border-size solid @chatbot-textarea-border-color;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
          height: auto;
          line-height: @chatbot-textarea-line-height;
          padding: @chatbot-textarea-line-height;
          padding-right: @chatbot-textarea-line-height + @chatbot-send-button-size;
          overflow: hidden;
          resize: none;
          width: 100%;
        }

        button {
          position: absolute;
          bottom: 18px;
          right: 18px;
          width: @chatbot-send-button-size;
          height: @chatbot-send-button-size;
          border: 0;
          padding: 0;
          cursor: pointer;
          background: transparent;
        }
      }
    }
  }

  .chatbot-floating-button {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: @chatbot-floating-button-height;
    height: @chatbot-floating-button-height;
    margin: @chatbot-margin;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-radius: 40px;
    border-color: @chatbot-header-bg-color;
    background: @chatbot-header-bg-color;

    button {
      border: 0;
      padding: 10px;
      cursor: pointer;
      background: transparent;

      color: #fff;
      font-weight: bold;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

#chatbot-icon-bank {
  display: none;
}

.chatbot-stroke {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chatbot-icon-active {
  .chatbot-stroke {
    stroke: @chatbot-active-color;
  }
}

.chatbot-icon-disabled {
  .chatbot-stroke {
    stroke: @chatbot-disabled-color;
  }
}
